*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body{
    background-color: rgb(243, 243, 243);
}

h2{
    /* font-family: monospace; */
    font-size: 32px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}
.sign{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}


input{
    width: 550px;
    padding : 10px 20px;
    margin: 8px 0;
    box-sizing:border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    color: black;
    background-color: #f8f8f8;
  }

 button{
    width: auto;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 1000px;
    background: #0071e3;
    color: #fff;
    font-size: 20px;
    border: none;
}

label{
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.area{
    width: 45%;
    margin: 2% 0 0 2%;
}

.f2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 45%;
    font-size: 80px;
}

.pp{
    max-width: 15%;
    max-height: 70%;
    border-radius: 50%;
}

.erw{
    color: red;
}
.erc{
    color: rgb(52, 177, 35);
}


h6{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#1e97e8;
}